* { /* universal selectors */
margin: 0;
padding: 0;
}

.box { /*. is basically class # is id*/
    box-sizing: border-box; /*scroll bar finishes*/
        border: 2px solid black;
        /* width: 2048px; */
        width: 100vw; /*viewport width dynamically analyzes screen resolution*/
        background-color: aquamarine;
      }

      /*best tarika is external css*/